
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>PERFIL</h1>
    <p>Nombre: {{info.first_name}}</p>
    <p>Apellido: {{info.last_name}}</p>
    <p>Email: {{info.email}}</p>
    <p>Rol de Usuario: {{info.role}}</p>
    {{!-- <button onclick="location.href='/realTimeProducts'">Regresar</button> --}}
</body>
{{!-- <script src="../public/js/profile.js"></script> --}}
</html>