<h3>Socket Cliente</h3>
<form id="form">
    <label>Title</label><br><input type="text" name="title" id="title"><br><br>
    <label>Description</label><br><input type="text" name="description" id="description"><br><br>
    <label>Code</label><br><input type="number" name="code" id="code"><br><br>
    <label>Price</label><br><input type="number" name="price" id="price"><br><br>
    <label>Stock</label><br><input type="number" name="stock" id="stock"><br><br>
    <label>Category</label><br><input type="text" name="category" id="category"><br><br>
    <input type="submit" value="SEND"><br><br>
</form>

<p id="products"></p>     

<script src="/socket.io/socket.io.js"></script> {{!--Genera la conexión con el cliente --}}
<script src="js/index.js"></script>

